<mat-toolbar class="header">
  <button (click)="menuToggled.emit()" mat-icon-button>
    <mat-icon class="title">menu</mat-icon>
  </button>
  <span routerLink="/" style="color: white;"><img
    mat-card-image
    style=" height: 33px;
    border-radius: 20px;
    margin-bottom: -9px;"
    src="/assets/images/BIMA_orange 2.jpg"
    alt="Photo of a Shiba Inu"
  />
  BIMA-MITRA</span>
  <span class="spacer"></span>
  <span class="welcome-text">Hello {{user}}</span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="title">person_pin</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="menuClick('Broker')">Broker</button>
    <button mat-menu-item (click)="menuClick('Client')">Client</button>
    <!-- <button mat-menu-item (click)="menuClick('logout')">Logout</button> -->
  </mat-menu>
</mat-toolbar>
