<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <mat-icon aria-hidden="false" class="icon" fontIcon="policy"></mat-icon>
      <p><b>Claim No:</b></p>
      <p class="claim" (click)="claimClick('73982705')">73982705</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <mat-icon aria-hidden="false" class="icon" fontIcon="policy"></mat-icon>
      <p><b>Claim No:</b></p>
      <p class="claim" (click)="claimClick('11745927')">11745927</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <mat-icon aria-hidden="false" class="icon" fontIcon="policy"></mat-icon>
      <p><b>Claim No:</b></p>
      <p class="claim" (click)="claimClick('96270442')">96270442</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <mat-icon aria-hidden="false" class="icon" fontIcon="policy"></mat-icon>
      <p><b>Claim No:</b></p>
      <p class="claim" (click)="claimClick('55092749')">55092749</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <mat-icon aria-hidden="false" class="icon" fontIcon="policy"></mat-icon>
      <p><b>Claim No:</b></p>
      <p class="claim" (click)="claimClick('78220937')">78220937</p>
    </mat-card-content>
  </mat-card>
</div>
