<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <mat-icon aria-hidden="false" class="icon" fontIcon="policy"></mat-icon>
      <p><b>Claim No:</b></p>
      <p class="claim" (click)="claimClick('122222')">122222</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <mat-icon aria-hidden="false" class="icon" fontIcon="policy"></mat-icon>
      <p><b>Claim No:</b></p>
      <p class="claim" (click)="claimClick('122222')">122222</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <mat-icon aria-hidden="false" class="icon" fontIcon="policy"></mat-icon>
      <p><b>Claim No:</b></p>
      <p class="claim" (click)="claimClick('122222')">122222</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <mat-icon aria-hidden="false" class="icon" fontIcon="policy"></mat-icon>
      <p><b>Claim No:</b></p>
      <p class="claim" (click)="claimClick('122222')">122222</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <mat-icon aria-hidden="false" class="icon" fontIcon="policy"></mat-icon>
      <p><b>Claim No:</b></p>
      <p class="claim" (click)="claimClick('122222')">122222</p>
    </mat-card-content>
  </mat-card>
</div>
