.deselect-icon-color {
  color: rgb(253, 95, 7);
}
.selected {
  background-color: rgb(253, 95, 7);
  color: white;
  border: 1px solid rgb(253, 95, 7);
  box-sizing: border-box;
  flex-direction: row;
  border: 1px solid rgb(253, 95, 7);
  border-radius: 10px;
  cursor: pointer;
}

.deselected {
  background-color: white;
  color: black;
  box-sizing: border-box;
  flex-direction: row;
  border: 1px solid rgb(253, 95, 7);
  border-radius: 10px;
  cursor: pointer;
}

.compare-button {
  display: inline-flex;
  justify-content: center;
  margin: 56px 250px 0px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  padding: 10px 16px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgb(35, 30, 40);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  width: 500px;
  letter-spacing: 2px;
}

.main-content {
  background-color: white;
  box-sizing: border-box;
  flex-flow: column wrap;
  height: 100vh;
}

.header {
  font-weight: 400;
  line-height: 1.5;
  font-size: 50px;
  font-family: Diphylleia;
  color: rgb(253, 95, 7);
  margin: 5px auto;
  padding-left: 400px;
}

.sub-heading {
  font-weight: 400;
  line-height: 1.5;
  font-size: 23px;
  font-family: Diphylleia;
  margin: 0px auto;
  padding-left: 278px;
}

.policy-select-header {
  margin: 120px 36px 24px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
}
