.example-card {
  max-width: 260px;
  height: 340px;
  margin: 20px;
  align-items: center;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.container {
  width: 100%;
  justify-content: center;
  display: flex;
}
