<mat-card class="card">
    <mat-card-content>
     <div>
        <mat-list>
            <mat-panel-title class="d-flex align-items-center">
            <mat-icon class="icon"  mat-list-icon>
             person
              </mat-icon>
              <span mat-line  class="list-item">TO: <span> <b>John@claims.com</b></span></span>
            </mat-panel-title>
        </mat-list>
        <hr>
        <mat-list>
            <mat-panel-title class="d-flex align-items-center">
            <mat-icon class="icon"  mat-list-icon>
             send
              </mat-icon>
              <span mat-line  class="list-item">Subject: <span> <b contenteditable="true" >{{sub}}</b></span></span>
            </mat-panel-title>
        </mat-list>
        <hr>

        <mat-list>
            <mat-panel-title class="d-flex align-items-center">
            <mat-icon class="icon"  mat-list-icon>
             view_headline
              </mat-icon>
              <span mat-line  class="list-item">Body: </span><span> <mat-icon class="icon"  mat-list-icon>
                format_bold
                 </mat-icon>  <mat-icon class="icon"  mat-list-icon>
                    format_italic
                     </mat-icon> <mat-icon class="icon"  mat-list-icon>
                        format_underline
                         </mat-icon> </span>
            </mat-panel-title>
        </mat-list>
        <div style="border: 1px solid black;padding: 5px;" [innerHTML]="emailBody" contenteditable="true">
            <!-- <textarea [(ngModel)]="emailBody" rows="26" cols="148" matNativeControl>
                </textarea> -->
                {{emailBody}}
        </div>
     </div>
    </mat-card-content>

    <div style="text-align: center;margin-top: 15px;">
        <button  mat-button class="action">
          <span style="color: white">Send Email</span>
        </button>
      </div>
  </mat-card>

