<mat-card class="card">
    <mat-card-content>
     <div>
        <mat-list>
            <mat-panel-title class="d-flex align-items-center">
            <mat-icon class="icon"  mat-list-icon>
             person
              </mat-icon>
              <span mat-line  class="list-item">TO: <span> <b>John@claims.com</b></span></span>
            </mat-panel-title>
        </mat-list>
        <hr>
        <mat-list>
            <mat-panel-title class="d-flex align-items-center">
            <mat-icon class="icon"  mat-list-icon>
             send
              </mat-icon>
              <span mat-line  class="list-item">Subject: <span> <b>Inspection Visit Request for Claim Settlement</b></span></span>
            </mat-panel-title>
        </mat-list>
        <hr>

        <mat-list>
            <mat-panel-title class="d-flex align-items-center">
            <mat-icon class="icon"  mat-list-icon>
             view_headline
              </mat-icon>
              <span mat-line  class="list-item">Body: </span><span> <mat-icon class="icon"  mat-list-icon>
                format_bold
                 </mat-icon>  <mat-icon class="icon"  mat-list-icon>
                    format_italic
                     </mat-icon> <mat-icon class="icon"  mat-list-icon>
                        format_underline
                         </mat-icon> </span>
            </mat-panel-title>
        </mat-list>
        <div>
            <textarea rows="26" cols="148" matNativeControl>
                </textarea>
        </div>
     </div>
    </mat-card-content>
  </mat-card>

